<div class="col-xs-12">
    <p class="text-bold"><%= config?.nombre %></p>
    <% if (typeof value === 'object') { %>
        <p class=""><b><%= value?.codigo %></b> - <%= value?.descripcion %></p>
    <% } else { %>
        <p class=""><%= value %></p>
    <% } %>
    
</div>