<% if (componente?.configuracion?.consolidado) { %>
    <div class="row">
        <div class="col-xs-12 text-center subtitle">Nro. Pago: <%- componente?.value?.valores?.nro %></div>
    </div>
<% } %>
<%- include('pagoDetalle/body.ejs', { value: componente?.value?.valores, config: componente?.configuracion }) %>